:root {
  --vc-component-size-sm: 24;
  --vc-component-size-md: 32;
  --vc-component-size-lg: 40;
  --vc-radius-none: 0;
  --vc-radius-xs: 2;
  --vc-radius-sm: 4;
  --vc-radius-md: 8;
  --vc-radius-lg: 12;
  --vc-radius-xl: 16;
  --vc-radius-2xl: 24;
  --vc-radius-full: 9999;
}
:root {
  --vc-collection1-color: #FFFFFF;
  --vc-collection1-number: 12313;
}
:root,:root.light,:root[data-theme="light"] {
  color-scheme: light;
  --vc-fill-primary-lightest: #FFFFFF;
  --vc-fill-primary-lighter: #E5E5E5;
  --vc-fill-primary-light: #B2B2B2;
  --vc-fill-primary-base: #808080;
  --vc-fill-primary-strong: #4D4D4D;
  --vc-fill-primary-stronger: #262626;
  --vc-fill-primary-strongest: #0D0D0D;
  --vc-fill-secondary-lightest: #FFFFFF;
  --vc-fill-secondary-lighter: #E5E5E5;
  --vc-fill-secondary-light: #B2B2B2;
  --vc-fill-secondary-base: #808080;
  --vc-fill-secondary-strong: #4D4D4D;
  --vc-fill-secondary-stronger: #262626;
  --vc-fill-secondary-strongest: #0D0D0D;
  --vc-fill-tertiary-lightest: #FFFFFF;
  --vc-fill-tertiary-lighter: #E5E5E5;
  --vc-fill-tertiary-light: #B2B2B2;
  --vc-fill-tertiary-base: #808080;
  --vc-fill-tertiary-strong: #4D4D4D;
  --vc-fill-tertiary-stronger: #262626;
  --vc-fill-tertiary-strongest: #0D0D0D;
  --vc-fill-fourth-lightest: #FFFFFF;
  --vc-fill-fourth-lighter: #E5E5E5;
  --vc-fill-fourth-light: #B2B2B2;
  --vc-fill-fourth-base: #808080;
  --vc-fill-fourth-strong: #4D4D4D;
  --vc-fill-fourth-stronger: #262626;
  --vc-fill-fourth-strongest: #0D0D0D;
  --vc-fill-fifth-lightest: #FFFFFF;
  --vc-fill-fifth-lighter: #E5E5E5;
  --vc-fill-fifth-light: #B2B2B2;
  --vc-fill-fifth-base: #808080;
  --vc-fill-fifth-strong: #4D4D4D;
  --vc-fill-fifth-stronger: #262626;
  --vc-fill-fifth-strongest: #0D0D0D;
  --vc-fill-sixth-lightest: #FFFFFF;
  --vc-fill-sixth-lighter: #E5E5E5;
  --vc-fill-sixth-light: #B2B2B2;
  --vc-fill-sixth-base: #808080;
  --vc-fill-sixth-strong: #4D4D4D;
  --vc-fill-sixth-stronger: #262626;
  --vc-fill-sixth-strongest: #0D0D0D;
  --vc-fill-neutral-lightest: #FFFFFF;
  --vc-fill-neutral-lighter: #E5E5E5;
  --vc-fill-neutral-light: #B2B2B2;
  --vc-fill-neutral-base: #808080;
  --vc-fill-neutral-strong: #4D4D4D;
  --vc-fill-neutral-stronger: #262626;
  --vc-fill-neutral-strongest: #0D0D0D;
  --vc-fill-blank: #FFFFFF00;
  --vc-text-primary-lightest: #FFFFFF;
  --vc-text-primary-lighter: #E5E5E5;
  --vc-text-primary-light: #B2B2B2;
  --vc-text-primary-base: #808080;
  --vc-text-primary-strong: #4D4D4D;
  --vc-text-primary-stronger: #262626;
  --vc-text-primary-strongest: #0D0D0D;
  --vc-text-secondary-lightest: #FFFFFF;
  --vc-text-secondary-lighter: #E5E5E5;
  --vc-text-secondary-light: #B2B2B2;
  --vc-text-secondary-base: #808080;
  --vc-text-secondary-strong: #4D4D4D;
  --vc-text-secondary-stronger: #262626;
  --vc-text-secondary-strongest: #0D0D0D;
  --vc-text-tertiary-lightest: #FFFFFF;
  --vc-text-tertiary-lighter: #E5E5E5;
  --vc-text-tertiary-light: #B2B2B2;
  --vc-text-tertiary-base: #808080;
  --vc-text-tertiary-strong: #4D4D4D;
  --vc-text-tertiary-stronger: #262626;
  --vc-text-tertiary-strongest: #0D0D0D;
  --vc-text-fourth-lightest: #FFFFFF;
  --vc-text-fourth-lighter: #E5E5E5;
  --vc-text-fourth-light: #B2B2B2;
  --vc-text-fourth-base: #808080;
  --vc-text-fourth-strong: #4D4D4D;
  --vc-text-fourth-stronger: #262626;
  --vc-text-fourth-strongest: #0D0D0D;
  --vc-text-fifth-lightest: #FFFFFF;
  --vc-text-fifth-lighter: #E5E5E5;
  --vc-text-fifth-light: #B2B2B2;
  --vc-text-fifth-base: #808080;
  --vc-text-fifth-strong: #4D4D4D;
  --vc-text-fifth-stronger: #262626;
  --vc-text-fifth-strongest: #0D0D0D;
  --vc-text-sixth-lightest: #FFFFFF;
  --vc-text-sixth-lighter: #E5E5E5;
  --vc-text-sixth-light: #B2B2B2;
  --vc-text-sixth-base: #808080;
  --vc-text-sixth-strong: #4D4D4D;
  --vc-text-sixth-stronger: #262626;
  --vc-text-sixth-strongest: #0D0D0D;
  --vc-text-neutral-lightest: #FFFFFF;
  --vc-text-neutral-lighter: #E5E5E5;
  --vc-text-neutral-light: #B2B2B2;
  --vc-text-neutral-base: #808080;
  --vc-text-neutral-strong: #4D4D4D;
  --vc-text-neutral-stronger: #262626;
  --vc-text-neutral-strongest: #0D0D0D;
  --vc-border-primary-lightest: #FFFFFF;
  --vc-border-primary-lighter: #E5E5E5;
  --vc-border-primary-light: #B2B2B2;
  --vc-border-primary-base: #808080;
  --vc-border-primary-strong: #4D4D4D;
  --vc-border-primary-stronger: #262626;
  --vc-border-primary-strongest: #0D0D0D;
  --vc-border-secondary-lightest: #FFFFFF;
  --vc-border-secondary-lighter: #E5E5E5;
  --vc-border-secondary-light: #B2B2B2;
  --vc-border-secondary-base: #808080;
  --vc-border-secondary-strong: #4D4D4D;
  --vc-border-secondary-stronger: #262626;
  --vc-border-secondary-strongest: #0D0D0D;
  --vc-border-tertiary-lightest: #FFFFFF;
  --vc-border-tertiary-lighter: #E5E5E5;
  --vc-border-tertiary-light: #B2B2B2;
  --vc-border-tertiary-base: #808080;
  --vc-border-tertiary-strong: #4D4D4D;
  --vc-border-tertiary-stronger: #262626;
  --vc-border-tertiary-strongest: #0D0D0D;
  --vc-border-fourth-lightest: #FFFFFF;
  --vc-border-fourth-lighter: #E5E5E5;
  --vc-border-fourth-light: #B2B2B2;
  --vc-border-fourth-base: #808080;
  --vc-border-fourth-strong: #4D4D4D;
  --vc-border-fourth-stronger: #262626;
  --vc-border-fourth-strongest: #0D0D0D;
  --vc-border-fifth-lightest: #FFFFFF;
  --vc-border-fifth-lighter: #E5E5E5;
  --vc-border-fifth-light: #B2B2B2;
  --vc-border-fifth-base: #808080;
  --vc-border-fifth-strong: #4D4D4D;
  --vc-border-fifth-stronger: #262626;
  --vc-border-fifth-strongest: #0D0D0D;
  --vc-border-sixth-lightest: #FFFFFF;
  --vc-border-sixth-lighter: #E5E5E5;
  --vc-border-sixth-light: #B2B2B2;
  --vc-border-sixth-base: #808080;
  --vc-border-sixth-strong: #4D4D4D;
  --vc-border-sixth-stronger: #262626;
  --vc-border-sixth-strongest: #0D0D0D;
  --vc-border-neutral-lightest: #FFFFFF;
  --vc-border-neutral-lighter: #E5E5E5;
  --vc-border-neutral-light: #B2B2B2;
  --vc-border-neutral-base: #808080;
  --vc-border-neutral-strong: #4D4D4D;
  --vc-border-neutral-stronger: #262626;
  --vc-border-neutral-strongest: #0D0D0D;
  --vc-background-white: #FFFFFF;
  --vc-background-black: #000000;
}
:root.dark,:root[data-theme="dark"] {
  color-scheme: dark;
  --vc-fill-primary-lightest: #0D0D0D;
  --vc-fill-primary-lighter: #262626;
  --vc-fill-primary-light: #4D4D4D;
  --vc-fill-primary-base: #808080;
  --vc-fill-primary-strong: #B2B2B2;
  --vc-fill-primary-stronger: #E5E5E5;
  --vc-fill-primary-strongest: #FFFFFF;
  --vc-fill-secondary-lightest: #0D0D0D;
  --vc-fill-secondary-lighter: #262626;
  --vc-fill-secondary-light: #4D4D4D;
  --vc-fill-secondary-base: #808080;
  --vc-fill-secondary-strong: #B2B2B2;
  --vc-fill-secondary-stronger: #E5E5E5;
  --vc-fill-secondary-strongest: #FFFFFF;
  --vc-fill-tertiary-lightest: #0D0D0D;
  --vc-fill-tertiary-lighter: #262626;
  --vc-fill-tertiary-light: #4D4D4D;
  --vc-fill-tertiary-base: #808080;
  --vc-fill-tertiary-strong: #B2B2B2;
  --vc-fill-tertiary-stronger: #E5E5E5;
  --vc-fill-tertiary-strongest: #FFFFFF;
  --vc-fill-fourth-lightest: #0D0D0D;
  --vc-fill-fourth-lighter: #262626;
  --vc-fill-fourth-light: #4D4D4D;
  --vc-fill-fourth-base: #808080;
  --vc-fill-fourth-strong: #B2B2B2;
  --vc-fill-fourth-stronger: #E5E5E5;
  --vc-fill-fourth-strongest: #FFFFFF;
  --vc-fill-fifth-lightest: #0D0D0D;
  --vc-fill-fifth-lighter: #262626;
  --vc-fill-fifth-light: #4D4D4D;
  --vc-fill-fifth-base: #808080;
  --vc-fill-fifth-strong: #B2B2B2;
  --vc-fill-fifth-stronger: #E5E5E5;
  --vc-fill-fifth-strongest: #FFFFFF;
  --vc-fill-sixth-lightest: #0D0D0D;
  --vc-fill-sixth-lighter: #262626;
  --vc-fill-sixth-light: #4D4D4D;
  --vc-fill-sixth-base: #808080;
  --vc-fill-sixth-strong: #B2B2B2;
  --vc-fill-sixth-stronger: #E5E5E5;
  --vc-fill-sixth-strongest: #FFFFFF;
  --vc-fill-neutral-lightest: #0D0D0D;
  --vc-fill-neutral-lighter: #262626;
  --vc-fill-neutral-light: #4D4D4D;
  --vc-fill-neutral-base: #808080;
  --vc-fill-neutral-strong: #B2B2B2;
  --vc-fill-neutral-stronger: #E5E5E5;
  --vc-fill-neutral-strongest: #FFFFFF;
  --vc-fill-blank: #00000000;
  --vc-text-primary-lightest: #0D0D0D;
  --vc-text-primary-lighter: #262626;
  --vc-text-primary-light: #4D4D4D;
  --vc-text-primary-base: #808080;
  --vc-text-primary-strong: #B2B2B2;
  --vc-text-primary-stronger: #E5E5E5;
  --vc-text-primary-strongest: #FFFFFF;
  --vc-text-secondary-lightest: #0D0D0D;
  --vc-text-secondary-lighter: #262626;
  --vc-text-secondary-light: #4D4D4D;
  --vc-text-secondary-base: #808080;
  --vc-text-secondary-strong: #B2B2B2;
  --vc-text-secondary-stronger: #E5E5E5;
  --vc-text-secondary-strongest: #FFFFFF;
  --vc-text-tertiary-lightest: #0D0D0D;
  --vc-text-tertiary-lighter: #262626;
  --vc-text-tertiary-light: #4D4D4D;
  --vc-text-tertiary-base: #808080;
  --vc-text-tertiary-strong: #B2B2B2;
  --vc-text-tertiary-stronger: #E5E5E5;
  --vc-text-tertiary-strongest: #FFFFFF;
  --vc-text-fourth-lightest: #0D0D0D;
  --vc-text-fourth-lighter: #262626;
  --vc-text-fourth-light: #4D4D4D;
  --vc-text-fourth-base: #808080;
  --vc-text-fourth-strong: #B2B2B2;
  --vc-text-fourth-stronger: #E5E5E5;
  --vc-text-fourth-strongest: #FFFFFF;
  --vc-text-fifth-lightest: #0D0D0D;
  --vc-text-fifth-lighter: #262626;
  --vc-text-fifth-light: #4D4D4D;
  --vc-text-fifth-base: #808080;
  --vc-text-fifth-strong: #B2B2B2;
  --vc-text-fifth-stronger: #E5E5E5;
  --vc-text-fifth-strongest: #FFFFFF;
  --vc-text-sixth-lightest: #0D0D0D;
  --vc-text-sixth-lighter: #262626;
  --vc-text-sixth-light: #4D4D4D;
  --vc-text-sixth-base: #808080;
  --vc-text-sixth-strong: #B2B2B2;
  --vc-text-sixth-stronger: #E5E5E5;
  --vc-text-sixth-strongest: #FFFFFF;
  --vc-text-neutral-lightest: #0D0D0D;
  --vc-text-neutral-lighter: #262626;
  --vc-text-neutral-light: #4D4D4D;
  --vc-text-neutral-base: #808080;
  --vc-text-neutral-strong: #B2B2B2;
  --vc-text-neutral-stronger: #E5E5E5;
  --vc-text-neutral-strongest: #FFFFFF;
  --vc-border-primary-lightest: #0D0D0D;
  --vc-border-primary-lighter: #262626;
  --vc-border-primary-light: #4D4D4D;
  --vc-border-primary-base: #808080;
  --vc-border-primary-strong: #B2B2B2;
  --vc-border-primary-stronger: #E5E5E5;
  --vc-border-primary-strongest: #FFFFFF;
  --vc-border-secondary-lightest: #0D0D0D;
  --vc-border-secondary-lighter: #262626;
  --vc-border-secondary-light: #4D4D4D;
  --vc-border-secondary-base: #808080;
  --vc-border-secondary-strong: #B2B2B2;
  --vc-border-secondary-stronger: #E5E5E5;
  --vc-border-secondary-strongest: #FFFFFF;
  --vc-border-tertiary-lightest: #0D0D0D;
  --vc-border-tertiary-lighter: #262626;
  --vc-border-tertiary-light: #4D4D4D;
  --vc-border-tertiary-base: #808080;
  --vc-border-tertiary-strong: #B2B2B2;
  --vc-border-tertiary-stronger: #E5E5E5;
  --vc-border-tertiary-strongest: #FFFFFF;
  --vc-border-fourth-lightest: #0D0D0D;
  --vc-border-fourth-lighter: #262626;
  --vc-border-fourth-light: #4D4D4D;
  --vc-border-fourth-base: #808080;
  --vc-border-fourth-strong: #B2B2B2;
  --vc-border-fourth-stronger: #E5E5E5;
  --vc-border-fourth-strongest: #FFFFFF;
  --vc-border-fifth-lightest: #0D0D0D;
  --vc-border-fifth-lighter: #262626;
  --vc-border-fifth-light: #4D4D4D;
  --vc-border-fifth-base: #808080;
  --vc-border-fifth-strong: #B2B2B2;
  --vc-border-fifth-stronger: #E5E5E5;
  --vc-border-fifth-strongest: #FFFFFF;
  --vc-border-sixth-lightest: #0D0D0D;
  --vc-border-sixth-lighter: #262626;
  --vc-border-sixth-light: #4D4D4D;
  --vc-border-sixth-base: #808080;
  --vc-border-sixth-strong: #B2B2B2;
  --vc-border-sixth-stronger: #E5E5E5;
  --vc-border-sixth-strongest: #FFFFFF;
  --vc-border-neutral-lightest: #0D0D0D;
  --vc-border-neutral-lighter: #262626;
  --vc-border-neutral-light: #4D4D4D;
  --vc-border-neutral-base: #808080;
  --vc-border-neutral-strong: #B2B2B2;
  --vc-border-neutral-stronger: #E5E5E5;
  --vc-border-neutral-strongest: #FFFFFF;
  --vc-background-white: #000000;
  --vc-background-black: #FFFFFF;
}
@media screen and (max-width: 767px) {
  :root {
    --vc-component-size-sm: 24;
    --vc-component-size-md: 32;
    --vc-component-size-lg: 40;
    --vc-radius-none: 0;
    --vc-radius-xs: 2;
    --vc-radius-sm: 4;
    --vc-radius-md: 8;
    --vc-radius-lg: 12;
    --vc-radius-xl: 16;
    --vc-radius-2xl: 24;
    --vc-radius-full: 9999;
  }
}